/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site CSS code below */
/*Use modularscale perfect fourth 3:4
https://www.modularscale.com/?18&px&1.333
1em=18px
*/
/*Base Styles (element selectors; color; typography--> thats it)*/
/*   # for id, . for class*/
/*360px page as starting line*/
/*Layout: ID selectors; width/height; position; flexbox, grid-->the big major styles*/
/*Module/Modular sections (class or descendent selectors; repeating specific styles) */
/*State (repeat the structure above; media queries; javascript-dependent styles) */


/*background code*/
html
{
  background-image: url("../img/red-back.jpg"); /*Code for HTML*/
}
/*responsive image code */
img
{
  max-width: 80%;
  border: .5em outset teal;
  border-radius: 3em;
}
.center
{
  display: block;
  margin-left: 8%;
}
figcaption
{
  font-size: 1em;
  color: white;
}
video
{
  max-width: 100%;
  border: .5em outset teal;
  border-radius: 3em;
  margin-left: 8%;
}
/*Grid code for header*/
.header
{
  background-color: rgba(10, 10, 10, 0.6);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "name1"
  "name2"
  "name3";
}
#name
{
  color: #ffffff;
  grid-area: name1;
  padding-top: 5%;
  padding-bottom: 2.5%;
  /*cute curly display typeface */
}
#name2
{
  color: #ffffff;
  grid-area: name2;
  /*cute curly display typeface */
  padding-bottom: 2.5%;
  text-align: center;
}
#name3
{
  color: #ffffff;
  grid-area: name3;
  /*cute curly display typeface */
  padding-bottom: 5%;
  text-align: center;
}
/*Grid code for menu*/
#navigation
{
  background-color: rgba(0, 128, 128, 0.7); /* BACKGROUND COLOR CODE */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "about-link edu-link"
  "skill-link quote-link"
  "hobbies-link dogs-link"
  "library-link photo-link";
  /*serif  typeface */
  text-align: center;
}
a[href="#about-box"]
{
  grid-area: about-link;
}
a[href="#edu-box"]
{
  grid-area: edu-link;
}
a[href="#skill-box"]
{
  grid-area: skill-link;
}
a[href="#fave-quotes-box"]
{
  grid-area: quote-link;
}
a[href="#hobbies-box"]
{
  grid-area: hobbies-link;
}
a[href="#dogs-box"]
{
  grid-area: dogs-link;
}
a[href="#library-box"]
{
  grid-area: library-link;
}
a[href="#photo-space-box"]
{
  grid-area: photo-link;
}
/* code for page links*/
a
{
  outline: none;
  text-decoration: none;
  line-height: 1.5em;
  font-size: 2em;
}
a:link
{
  color: pink;
}
a:visited
{
  color: DarkTurquoise;
}
a:focus
{
  background: DarkTurquoise;
}
a:hover
{
  border-bottom: solid;
  background: ghostwhite;
}
a:active
{
  background: DarkTurquoise;
}
/*Grid code for main content*/
.main-content
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas:
  "about-grid"
  "edu-grid"
  "skill-grid"
  "quotes-grid"
  "hobbies-grid"
  "dogs-grid"
  "library-grid"
  "speech-grid"
  "photo-grid";
}
#about-box
{
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: about-grid;
}
#edu-box
{
  background-color: rgba(240, 67, 113, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: edu-grid;
}
#skill-box
{
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: skill-grid;
}
#fave-quotes-box
{
  background: content-box radial-gradient(circle, crimson, teal);
  opacity: .85;
  grid-area: quotes-grid;
}
#hobbies-box
{
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: hobbies-grid;
}
#dogs-box
{
  background: content-box radial-gradient(crimson, teal);
  opacity: .85;
  grid-area: dogs-grid;
}
#library-box
{
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: library-grid;
}
#speech-box
{
  background-color: rgba(158, 53, 123, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: speech-grid;
}
#photo-space-box
{
  background-color: rgba(204, 0, 82, 0.5); /* BACKGROUND COLOR CODE */
  grid-area: photo-grid;
}
/*Grid code for footer*/
#footer
{
  display: grid;
  grid-template-areas:
  "foot-grid";
  grid-template-columns: repeat(1, 1fr);
  font-size: 2.369em;
  color: white;
  /*cute curly display typeface, same as name */
}
footer section
{
  background-color: rgba(0, 128, 128, 0.7); /* BACKGROUND COLOR CODE */
}
#foot-box
{
  grid-area: foot-grid;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 2.5%;
}
/*Style code*/
#name
{
  font-size:7.478em;
  padding-left: 6%;
}
#name2
{
  font-size: 4.209em;
  padding-left: 6%;
}
#name3
{
  font-size: 4.209em;
  padding-left: 6%;
}
h2 /*will need to edit this in the media queries*/
{
  font-size: 2.369em;
  color: pink;
  padding-left: 2.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
}
article p
{
  font-size: 1.5em;
  line-height:1.5em;
  color: ghostwhite;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-bottom: 5%;
}
.list
 {
  font-size: 1.125em;
  line-height:1.5em;
  color: ghostwhite;
  padding-left: 8%;
  padding-right: 3.5%;
  padding-bottom: 5%;
  list-style: circle;

 }
blockquote
{
  font-size: 3.157em;
  color: ghostwhite;
  /*cute  display typeface */
  font-family: 'Srisakdi', cursive;
  text-align: center;
  padding-bottom: 5%;
  padding-top: 5%;

}
figcaption
{
  font-size: 1.5em;
  color: ghostwhite;
  padding-bottom: 5%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}
